<% include ../partials/header %>
<div class="tableStyle">
<table>
	<tbody>
		<tr>
			<td>Title</td>
			<td>Author</td>
			<td>Year Published</td>
			<td>Edit?</td>
			<td>Delete?</td>
		</tr>
	<% books.forEach(function(book){%>
		<tr>
			<td> <a href="/books/<%= book.id %>"><%= book.title %></a></td>
			<td><%= book.author %></td>
			<td><%= book.year %></td>
			<td><a href="/books/<%= book.id %>/edit">Edit</a></td>
			<td>
				<form action='/books/<%= book.id %>?_method=DELETE' method="POST"><input class="sub" type="submit" value="X">
        </form>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>
</div>
<a href="/books/new"><button>Add A Book</button></a>
<a href="/"><button>Find A Book</button></a>
<% include ../partials/footer %>