<% include ../partials/header %>
<div class="tableStyle" >
<table>
	<tbody>
	<tr>
		<td>Title</td>
		<td>Author</td>
		<td>Year Published</td>
		<td>Average Rating</td>
		<td>ISBN/Other Identifier</td>
		<td>List Price</td>
		<td>Select?</td>
		</tr>
		<% books.forEach(function(book){ %>
		<tr>
			<td><%=book.volumeInfo.title%></td>
			<td><%=book.volumeInfo.authors%></td>
			<td><%=book.volumeInfo.publishedDate%></td>
			<td><%=book.volumeInfo.averageRating%></td>
			<td>
			<%= book.volumeInfo.industryIdentifiers[0].identifier%>
			</td>
			<td><% if(book.saleInfo.listPrice) {%>
			<%= book.saleInfo.listPrice.amount%>
			<% } else if(!(book.saleInfo.listPrice)){ %>
			Not listed
			<% } %></td>			
			<td><form action="/books" method="POST"><input class="sub" type="submit" value="Add">
			<input type="hidden" name="book[title]" value="<%= book.volumeInfo.title %>">
			<input type="hidden" name="book[author]" value="<%= book.volumeInfo.authors %>">
			<input type="hidden" name="book[year]" value="<%= book.volumeInfo.publishedDate %>"></form></td>
		</tr>
	<%  })%>
	</tbody>
</table>
</div>
<a href="/books"><button>Return Home</button></a>

<% include ../partials/footer %>